{% extends "base.twig" %}

{% block content %}

<form method="post" action="{{baseurl}}/record/{{table.get_name()}}">
    <table>

        {% for column in table.get_columns %}
        <tr>
            <th class="column-title">
                <label for="{{column.get_name}}" class="right inline">
                    {{column.get_title}}
                    {% if column.is_required and not column.is_auto_increment %}*{% endif %}
                </label>
            </th>

            <td class='form-field'><!-- Data entry cell -->
                {% include 'field/edit.twig' %}
            </td><!-- End data entry cell -->

            <td>
                <label id="{{column.get_name}}-help" class="inline" for="{{column.name}}">
                    <em>{{column.get_comment}}</em>

                    {% if column.is_unique %}
                    The value of this field must be unique.
                    {% endif %}

                    {% if column.is_foreign_key %}
                    This field is a cross reference to
                    {% if attribute(record, column.get_name) %}
                    <a href="{{ record.get_referenced_record(column.get_name).get_url }}">
                        Record <em>{{attribute(record, column.get_name)}}</em>
                    </a>
                    of
                    {% endif %}
                    <a href="{{column.get_referenced_table.get_url}}">{{column.get_referenced_table.get_title}}</a>.
                    {% endif %}

                    {% if column.is_auto_increment %}A value for this field will be assigned automatically.{% endif %}

                    {% if column.get_type == 'year' %}
                    Only the years 1901&ndash;2155 can be entered here.
                    <a href="https://dev.mysql.com/doc/refman/5.6/en/year.html" target="_blank" title="The MySQL DATE type (opens in a new tab)">
                        (Why?)
                    </a>
                    {% endif %}

                </label>
            </td>
        </tr>

        {% endfor %}
        <tr>
            <td></td>
            <td colspan="2">
                <p><label>* An asterisk denotes a required field.</label></p>
                <p>
                    Describe the changes you've made:
                    <input type="text" name="changeset_comment" />

                    <input type="submit" value="Save" class="button success" />
                    {% if return_to %}
                    <input type="hidden" name="return_to" value="{{return_to}}" />
                    <a href="{{return_to}}" class="button">Cancel</a>
                    {% endif %}

                    {% if record %}
                    <input type="hidden" name="primary_key_value" value="{{record.get_primary_key}}" />
                    <a href="{{record.get_url('delete')}}" class="button" title="Delete this record">Delete</a>
                    {% endif %}
                </p>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
