{% extends "base.twig" %}
{% block content %}

<p>Here you can grant access to the database to members of any Groups.</p>

    <form action="{{baseurl}}/table/grants/save" method="post" id="grants-form">
        <table>
            <thead>
                <tr>
                    <th>Table Name</th>
                    <th></th>
                    {% for group in groups %}
                    <th>{{group.title}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr class="select-all">
                    <th></th>
                    <td class="label">Select all</td>
                    {% for group in groups %}
                        <td class="target"></td>
                    {% endfor %}
                </tr>
                {% for table in tableNames %}
                    <tr>
                        <th>{{table|titlecase}}</th>
                        <td class="select-all"></td>
                        {% for group in groups %}
                            <td class="capabilities">
                                <div data-role="{{group.id}}">
                                    {% for cap in capabilities %}
                                        <label class="checkbox">
                                            <input type="checkbox" name="{{table}}[{{cap}}][{{group.id}}]" value="{{group.id}}"
                                                   {% if group.id in attribute( attribute(grants, table), cap ) %}
                                                       checked
                                                   {% endif %}
                                                   data-capability="{{cap}}" />
                                            {{cap|titlecase}}
                                        </label>
                                    {% endfor %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            <tbody>
        </table>
        <p><button>Save</button></p>
    </form>

{% endblock %}
